@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white: #FCFCFC;
  --color-black: #333333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--color-black);
  background-color: var(--color-white);
}
