@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  body {
    @apply text-black;
    @apply bg-default;
  }
}

@layer components {
  .card {
    @apply px-4;
    @apply py-6;
    @apply bg-white;
    @apply border;
    @apply rounded-lg;
    @apply ring-1;
    @apply ring-slate-900/5;
    @apply shadow-md;
    @apply flex-1;
    @apply h-full
  }

  input {
    @apply appearance-none;
    @apply rounded-md;
    @apply px-3;
    @apply py-2;
    @apply shadow;
    @apply ring-1;
    @apply ring-gray-950/10;
  }

  .btn {
    @apply appearance-none;
    @apply rounded-lg;
    @apply p-2;
    @apply font-semibold;
    @apply ring-1;
    @apply ring-gray-950/10;
 
  }

  .btn-primary {
    @apply text-white;
    @apply bg-indigo-500;
    @apply hover:bg-indigo-600;
  }
}

