@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  body {
    @apply text-black dark:text-white;
    @apply bg-defaultLight dark:bg-black;
  }
}

@layer components {
  .card {
    @apply px-4;
    @apply py-6;
    @apply bg-white dark:bg-defaultDark;
    @apply rounded-lg;
    @apply ring-1;
    @apply ring-slate-900/5;
    @apply shadow-md;
    @apply flex-1;
    @apply h-full
  }

  input[type=text] {
    @apply appearance-none;
    @apply rounded-md;
    @apply px-3;
    @apply py-2;
    @apply shadow;
    @apply ring-1;
    @apply border-none;
    @apply text-sm;
    @apply dark:bg-defaultDark;
    @apply ring-gray-950/10 dark:ring-gray-500;
    @apply focus:ring-indigo-500;

  }

  input[type=checkbox] {
    @apply h-6;
    @apply w-6;
    @apply shadow-sm;
    @apply rounded-full;
    @apply cursor-pointer;
    @apply focus:ring-2;
    @apply focus:ring-indigo-500;
    @apply bg-white dark:bg-defaultDark;
    @apply border-gray-700/20 dark:border-gray-500;
  }

  input[type=checkbox]:checked {
    @apply bg-primary hover:bg-primaryHover;

  }

  .btn {
    @apply p-2;
    @apply ring-1;
    @apply rounded-lg;
    @apply font-semibold;
    @apply appearance-none;
    @apply ring-gray-950/10;
    @apply focus:ring-indigo-500;
 
  }

  .btn-primary {
    @apply text-white;
    @apply bg-primary hover:bg-primaryHover;
  }
}

